$spacing-sm: 10px !default;
$spacing-sm-rem: 0.625rem !default;
$spacing-md: 15px !default;
$spacing-md-rem: 0.9375rem !default;
$spacing-lg: 20px !default;
$spacing-lg-rem: 1.25rem !default;
$spacing-xl: 25px !default;
$spacing-xl-rem: 1.5625rem !default;
$spacing-2xl: 30px !default;
$spacing-2xl-rem: 1.875rem !default;
$spacing-3xl: 35px !default;
$spacing-3xl-rem: 2.1875rem !default;
